In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [24]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Yar-Sale,RU,2022-01-30 16:15:02,66.8333,70.8333,-0.54,96,100,8.63
1,1,Bluff,NZ,2022-01-30 16:09:27,-46.6000,168.3333,59.81,93,82,2.44
2,2,Burgeo,CA,2022-01-30 16:16:34,47.6167,-57.6152,32.09,77,100,45.95
3,3,Hobart,AU,2022-01-30 16:13:06,-42.8794,147.3294,57.11,88,2,0.00
4,4,Touros,BR,2022-01-30 16:16:12,-5.1989,-35.4608,88.70,61,23,15.84

In [25]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [26]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [27]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [28]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.7)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=6)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.7)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=6)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
cloudiness = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.7)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=6)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of windiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.7)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=6)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [37]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Touros,BR,2022-01-30 16:16:12,-5.1989,-35.4608,88.70,61,23,15.84
5,5,Rikitea,PF,2022-01-30 16:14:15,-23.1203,-134.9692,76.15,60,74,4.81
13,13,Broken Hill,AU,2022-01-30 16:16:37,-31.9500,141.4333,81.27,58,91,9.57
15,15,Puerto Ayacucho,VE,2022-01-30 16:16:38,5.6639,-67.6236,87.58,28,97,10.51
16,16,Wembley,AU,2022-01-30 16:16:39,-31.9333,115.8000,75.22,59,0,13.80
19,19,Port Keats,AU,2022-01-30 16:16:40,-14.2500,129.5500,80.85,83,75,20.65
20,20,Arraial Do Cabo,BR,2022-01-30 16:16:40,-22.9661,-42.0278,89.56,74,75,11.50
23,23,Vaini,TO,2022-01-30 16:12:17,-21.2000,-175.2000,80.49,78,100,12.26
26,26,Namatanai,PG,2022-01-30 16:16:42,-3.6667,152.4333,78.24,85,92,3.36
29,29,Chuy,UY,2022-01-30 16:16:43,-33.6971,-53.4616,78.55,56,99,11.52

In [38]:
preferred_cities_df.count()

City_ID       174
City          174
Country       173
Date          174
Lat           174
Lng           174
Max Temp      174
Humidity      174
Cloudiness    174
Wind Speed    174
dtype: int64

In [42]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
4            Touros      BR     88.70  -5.1989  -35.4608
5           Rikitea      PF     76.15 -23.1203 -134.9692
13      Broken Hill      AU     81.27 -31.9500  141.4333
15  Puerto Ayacucho      VE     87.58   5.6639  -67.6236
16          Wembley      AU     75.22 -31.9333  115.8000
19       Port Keats      AU     80.85 -14.2500  129.5500
20  Arraial Do Cabo      BR     89.56 -22.9661  -42.0278
23            Vaini      TO     80.49 -21.2000 -175.2000
26        Namatanai      PG     78.24  -3.6667  152.4333
29             Chuy      UY     78.55 -33.6971  -53.4616

In [51]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [53]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Touros,BR,88.70,-5.1989,-35.4608,INN NEW HORIZON
5,Rikitea,PF,76.15,-23.1203,-134.9692,People ThankYou
13,Broken Hill,AU,81.27,-31.9500,141.4333,Royal Exchange Hotel
15,Puerto Ayacucho,VE,87.58,5.6639,-67.6236,Posada Turistica Manapiare
16,Wembley,AU,75.22,-31.9333,115.8000,Quest on Rheola
19,Port Keats,AU,80.85,-14.2500,129.5500,TDC Village (Hundred Man Camp)
20,Arraial Do Cabo,BR,89.56,-22.9661,-42.0278,Pousada Porto Praia
23,Vaini,TO,80.49,-21.2000,-175.2000,Keleti Beach Resort
26,Namatanai,PG,78.24,-3.6667,152.4333,Seagulls Inn Namatani
29,Chuy,UY,78.55,-33.6971,-53.4616,Nuevo Hotel Plaza

In [57]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.7)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=6)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
    
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [59]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.7)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=6)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))